.formContainer {
  display: flex;
  flex-direction: column;

  div > * {
    width: 100%;
  }

  .mat-form-field {
    margin-bottom: 10px;
  }

  .mat-radio-group {
    label {
      color: #797979;
    }

    .mat-radio-button {
      margin-right: 5px;

      &:nth-child(2) {
        margin-left: 20px;
      }
    }
  }

  .mat-error {
    margin-bottom: 10px;
  }
}
