<notifier-container></notifier-container>
<ngx-spinner type="ball-clip-rotate-multiple" size="medium"></ngx-spinner>

<div class="container">
  <div class="buttonHolder">
    <button mat-raised-button color="primary" (click)="newMessage()">
      <mat-icon>add</mat-icon>
      Add New Message
    </button>
    <div class="fileUploadWrap">
      <button #file mat-raised-button color="primary">Import</button>
      <div style="display: inline-block">
        <input type="file" #fileImportInput name="File Upload" id="txtFileUpload"
               (change)="importFileChangeListener($event)" accept=".csv"/>
      </div>
    </div>
    <button mat-raised-button color="primary" (click)="export()" [disabled]="tableEmpty">Export</button>
  </div>

  <div class="content" [hidden]="tableEmpty">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" [(ngModel)]="filterText">
    </mat-form-field>
    <div class="table-container mat-elevation-z8">
      <table mat-table [dataSource]="messages" matSort>

        <!-- poolNumber Column -->
        <ng-container matColumnDef="poolNumber">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Pool No.</th>
          <td mat-cell *matCellDef="let element"> {{element.poolNumber}}</td>
        </ng-container>

        <!-- sender Column -->
        <ng-container matColumnDef="sender">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sender</th>
          <td mat-cell *matCellDef="let element"> {{element.sender}}</td>
        </ng-container>

        <!-- notRoutedReason Column -->
        <ng-container matColumnDef="notRoutedReason">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Not Routed reason</th>
          <td mat-cell *matCellDef="let element"> {{element.notRoutedReason}}</td>
        </ng-container>

        <!-- sentDateTime Column -->
        <ng-container matColumnDef="sentDateTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Send Date-Time</th>
          <td mat-cell *matCellDef="let element"> {{element.sentDateTime | date:'medium'}}</td>
        </ng-container>

        <!-- requestedDeliveryReportMaskText Column -->
        <ng-container matColumnDef="requestedDeliveryReportMaskText">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Req. Del. Report Mask</th>
          <td mat-cell *matCellDef="let element"> {{element.requestedDeliveryReportMaskText}}</td>
        </ng-container>

        <!-- deliveryReportReceivedDateTime Column -->
        <ng-container matColumnDef="deliveryReportReceivedDateTime">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Delivery Report Received Date Time</th>
          <td mat-cell *matCellDef="let element"> {{element.deliveryReportReceivedDateTime | date:'medium'}}</td>
        </ng-container>

        <!-- isUnicode Column -->
        <ng-container matColumnDef="isUnicode">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Is Unicode</th>
          <td mat-cell *matCellDef="let element"> {{element.isUnicode}} </td>
        </ng-container>

        <!-- edite/delete Column -->
        <ng-container matColumnDef="buttons">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-raised-button color="primary" (click)="editMessage(element)">
              <mat-icon>edit</mat-icon>
              Edit
            </button>
            <button mat-raised-button color="warn" (click)="deleteMessage(element)">
              <mat-icon>delete</mat-icon>
              Delete
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>
    </div>
  </div>

  <div class="warningWrap" *ngIf="tableEmpty">
    <p>No data found!</p>
    <p>You can <strong>add new messages</strong> or <strong>import</strong> from csv file</p>
  </div>
</div>



